*{
    padding: 0;
    margin: 0;
}

tr{
    height: 40px;
    width: 600px;
}

#prato{
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    border: 15px groove darkgoldenrod;
    animation-name: flash_border;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes flash_border
{
    0% {
        border-color: red;
    }
    50% {
        border-color: darkgoldenrod;
    }
    100% {
        border-color: red;
    }
}

.cella{
    background-size: 100%;
    height: 40px;
    width: 40px;
    float: left;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
}

#Bombe{
    float: left;
}

img{
    float: left;
    height: 50px;
    width: 50px;
}

#header{
    padding-top: 10px;
    padding-left: 10px;
}